/* CSS  */

body {
  font-family: Arial, sans-serif;
  /* background-color: #f2f2f2; */
  background-image: linear-gradient(to right, #ffa7a7, #ecd596);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 30em;
  margin: 0 auto;
  padding: 2em;
  background-color: #ffffffd3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
}

input[type="text"] {
  flex-grow: 1;
  padding: 0.7em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  outline: none;
}

button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fde9e9;
  margin: 1em;
  padding: 1em 0em;
  border-radius: 0.5em;
}

li:hover{
  background-color: #f8c7c7;
}


li button :hover {
  color: #ecd596;
}

/* Prevent text overflowing */
.limited-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* '...' at the end */
  max-width: 12em;
}

h1 {
  --s: 0.1em;
  /* the thickness of the line */
  --c: #2c4bff;
  /* the color */

  color: #0000;
  padding-bottom: var(--s);
  background:
    linear-gradient(90deg, var(--c) 50%, #000 0) calc(100% - var(--_p, 0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}

h1:hover {
  --_p: 100%
}

h1 {
  font-family: system-ui, sans-serif;
  font-size: 3rem;
  cursor: pointer;
}

.button-3d {
  display: inline-block;
  padding: 10px 20px;
  background-color: #b5bec7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

/* Hover effect - Rotate in 3D space */
.button-3d:hover {
  transform: rotate(180deg);
}


.addButton{
  transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
  text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),
    calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}
.addButton:hover{
  --_p: 0%;
  --_i: 1;
}