/* CSS  */

body {
  font-family: Arial, sans-serif;
  /* background-color: #f2f2f2; */
  background-image: linear-gradient(to right, #ffa7a7, #ecd596);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 30em;
  margin: 0 auto;
  padding: 2em;
  background-color: #ffffffd3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.input-container {
  display: flex;
}

input[type="text"] {
  flex-grow: 1;
  padding: 0.7em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  outline: none;
}

button {
  background-color: #9b450c;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  /* justify-content: space-between;
  align-items: center; */
  background-color: #f9f9f9;
  margin: 1em;
  padding: 1em 0em;
  border-radius: 0.5em;
}

li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

/* Prevent text overflowing */
.limited-text {  
  white-space: nowrap;     
  overflow: hidden;       
  text-overflow: ellipsis;  /* '...' at the end */
  max-width: 12em;        
}